.product_name:hover {
  color: black;
}

.products {
  float: left;
  color: black;
  text-decoration: none;
  width: 22rem;
  margin-left: 4.5rem;
  margin-top: 3rem;
}

.product_name {
  color: #ef7ddc;
  text-align: center;
}
.price {
  color: #ef7ddc;
}

.footer {
  margin-top: 15rem;
  padding-bottom: 5rem;
}

.fotter_logos {
  width: 3rem;
  padding-left: 1rem;
}

.Middle {
  background-color: #0b022d;
  position: absolute;
  margin-top: 1rem;
  margin-left: 0.5rem;
}

.logo_img {
  width: 45rem;
}

.middle_img {
  width: 35rem;
  height: 20rem;
  margin-right: 3rem;
}
.search_bar {
  position: absolute;
  width: 30rem;
  padding-top: 25rem;
  padding-left: 10rem;
  margin-left: 6rem;
}
.sports {
  width: 10rem;

  margin-left: 6rem;
  text-align: center;
  color: aliceblue;
  margin-bottom: 2rem;

  float: left;
}
.sports:hover {
  transform: scale(1.1);
  border-style: ridge;
  border-color: #ef7ddc;
}

.element {
  padding-left: 2rem;
}

.Navbarelements {
  padding-left: 45rem;
}

.product_footer {
  position: absolute;
  padding-top: 10rem;
  padding-left: 35rem;
}

.cardimg {
}

.caraimg {
  margin-top: 2rem;
  height: 30rem;
  width: 45rem;
  padding-right: 2rem;
  padding-left: 2rem;
  margin-left: 1rem;
}

.button_icons {
  width: 4rem;
}

.Product_name1 {
  margin-top: 5rem;
  margin-left: 50rem;
}

.mrp {
  margin-top: 1rem;
  margin-left: 50rem;
  margin-bottom: 0.2rem;
}

.deel {
  margin-left: 4rem;
}
.price_1 {
  margin-right: 23rem;
  color: #0b022d;
}

.freeshipping {
  margin-top: 3rem;
  margin-left: 50rem;
  margin-bottom: 2rem;
}
